body {
  margin: 0;
  background-color: rgb(13, 19, 66);
}

.container{
  height: 100vh;
  position:relative;
}

.dot{
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: #FFFF;
  height: 20px;
  width: 20px;
}
